.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

#username, #password {
    min-width: 280px;
    padding: 8px 12px;
    margin-bottom: 1em;
    border: 2px solid #e3e3e3;
}

.button {
    text-decoration: none;
    padding: 8px 16px;
    margin-right: 1em;
    font-size: 1em;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button-primary {
    background-color: #ADD8E6;
}

.button-secondary {
    background-color: #1E5162;
    color: white;
}
